<table class="w-full">
    <thead>
      <tr class="border-b border-gray-200">
        <th class="text-left pb-3 text-blue-900 font-semibold">Nombre</th>
        <th class="text-left pb-3 text-blue-900 font-semibold">Correo</th>
        <th class="text-left pb-3 text-blue-900 font-semibold">Rol</th>
        <th class="text-center pb-3 text-blue-900 font-semibold">Acciones</th>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-100">
      <% users.order(:id).each do |user| %>
        <tr class="hover:bg-gray-50">
          <td class="w-1/2
          py-3 text-gray-700
          "><%= user.name %></td>
          <td class="py-3 text-gray-700"><%= user.email %></td>
          <td class="py-3 text-gray-700"><%= user.role %></td>
          <td class="flex justify-center py-3 space-x-2">
              <%= link_to edit_admin_user_path(user), 
                  class: "inline-flex items-center px-3 py-1.5 bg-blue-900 text-white rounded-md hover:bg-blue-800 transition-colors",
                  data: { 
                      turbo_frame: "modal",
                      turbo_stream: true } do %>
                  Editar
              <% end %>
            
            <% if !user.admin? %>
              <%= button_to admin_user_path(user), method: :delete, class: "inline-flex items-center px-3 py-1.5 bg-red-500 text-white rounded-md hover:bg-red-600 transition-colors", form: { data: { turbo_confirm: '¿Estás seguro?' } } do %>
                <svg class="w-4 h-4 mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                </svg>
                Borrar
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
</table>